.container {
  display: grid;
  height: 100%;
  grid-template: auto / 1fr 50px;
  overflow: hidden;
  position: relative;
}

.content {
  /* Essential */
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
  /* Presentational */
  height: 50vh;
  padding: 0 1rem;
}

.content::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template: auto 1fr auto / 1fr;
  padding: 1rem;
  place-items: center;
}

.track-and-thumb {
  border-radius: 12px;
  display: block;
  height: 100%;
  position: relative;
  width: 16px;
  background: linear-gradient(
    180deg,
    rgba(175, 48, 41, 1),
    rgba(188, 82, 21, 1),
    rgba(173, 131, 1, 1),
    rgba(102, 128, 11, 1),
    rgba(36, 131, 123, 1),
    rgba(32, 94, 166, 1),
    rgba(94, 64, 157, 1),
    rgba(160, 47, 111, 1)
  );
}

.track {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.thumb {
  position: absolute;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  mix-blend-mode: overlay;
  width: 16px;
}

.button--up {
  background-color: rgba(188, 82, 21, 1);
}

.button--down {
  background-color: rgba(94, 64, 157, 1);
}
