.Container {
  margin: 8px;
  border: 2px solid lightgrey;
  border-radius: 8px;
  /* min-width: 80%; */
  /* min-width: 600px; */
  max-width: 800px;
  min-width: 275px;
  position: relative;
}

.MobContainer {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 10%;
  background-color: black;
}

.MobDraggable {
  margin: 2px 8px 8px 8px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.Title {
  padding: 8px;
  text-align: center;
}

.MobDisplayWrapper {
  display: flex;
  /* margin: px; */
}

.MobShortcuts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 5px 0px 0px;
  width: 17%;
  /* border: 2px black solid; */
  /* padding: ; */
}

.Shortcut {
  margin: 4px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
}

.Shortcut:hover {
  transform: scale(1.2);
}

.MobDisplay {
  display: flex;
  /* align-items: center; */
  padding: 2px;
  /* border: 2px black solid; */
  width: 100%;
}

.Headers {
  display: flex;
  margin: 0px 8px 0px 8px;
  padding: 3px;
  align-items: center;
  /* padding: 2px; */
  /* border: 1px solid; */
}

.MobDisplay > span,
.MobDisplay > div,
.Headers > span {
  /* border: 1px solid lightgray; */
  padding: 2px;
  margin: 2px;
}

.Initiative {
  width: 15%;
  text-align: center;
}

.InitiativeBlock {
}

.Name {
  /* text-align: left; */
  width: 40%;
  text-align: center;
}

.NameBlock {
  font-size: large;
  font-weight: 600;
}

.Health {
  width: 40%;
  text-align: center;
}

.HealthContainer {
  display: flex;
}

.HealthBlock {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin: 0px 4px;
  background-color: rgba(255, 255, 255, 0.25);
}

.AddMobModal {
  background-color: rgba(100, 100, 100, 0.9);
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  /* margin: 10px; */
}

.AddMobModal > .close {
  position: absolute;
  display: block;
  right: -10px;
  top: -10px;
  padding: 2px 5px;
  line-height: 20px;
  font-size: 24px;
  border-radius: 18px;
  /* border: 1px solid #cfcece; */
}

.InputColumn {
  margin-left: 5px;
  /* display: flex; */
  justify-content: right;
  /* float: right; */
  width: 100%;
  /* border: 2px solid black; */
}

.SubmitMob {
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
}

.MainButtonContainer {
  display: flex;
  /* justify-content: center; */
}

.InputRow {
  display: flex;
  /* border: 2px solid blue; */
  padding: 6px;
  width: 100%;
  justify-content: SPA;
}

.InputColumnWrapper {
  /* border: 2px solid green; */
  display: flex;
  justify-content: right;
}

.AddLabels {
  width: 35%;
}
